<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12" v-loading="loading">
                <h4>Add channel</h4>
                <div class="col-md-4">
                    <el-select v-model="channel.category_id" placeholder="Select">
                        <el-option v-for="category in categories" :key="category.id" :label="category.name" :value="category.id">
                        </el-option>
                    </el-select>
                </div>
                <div class="col-md-6">
                    <el-input placeholder="Please input" v-model="channel.username"></el-input>
                </div>     
                <div class="col-md-2">
                    <el-button type="success" @click="addChannel()">Add channel</el-button>
                </div>           
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
  import 'element-ui/lib/theme-chalk/index.css';
  import axios from 'axios';

  export default {
    data() {
      return {
            channel: {
                category_id: '',
                username: '',
            },
            categories: {
            name: '',
            slug: '',
            },
            loading: false,
      }
    },
    methods: {
        fetchCategories() {
            axios.get(`/api/categories`)
            .then(response => {
                this.categories = response.data.data; 
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
        addChannel() {
            if(this.channel.category_id !== '' && this.channel.username !== '') {
                this.loading = true;
                axios.post(`/api/admin/channels/store`, (
                    this.channel
                ))
                .then(response => {
                    this.loading = false;
                    if(response.data.status == 'error') {
                        this.$message.error(response.data.message);
                    }
                    if(response.data.status == 'success') {
                        this.$message.success(response.data.message);
                    }
                })
                .catch(e => {
                    this.loading = false;
                    this.errors.push(e)
                });
            } else {
                this.$message.error('Enter channel data!');
            }
        },
    },

    created() {
      this.fetchCategories();
    }
  }
</script>
