<template>
  <div class="container">
    <div class="row">
        <h3>{{category.name}}</h3>
      <div v-for="(channel, index) in category.channels" :key="index" class="col-md-4">
        <el-card :body-style="{ padding: '0px' }">
          <img :src="channel.photo" class="image" style="width: 100%;">
          <div style="padding: 14px;">
            <h4>{{channel.name}} </h4>
            <div class="bottom clearfix">
              <time class="time">{{channel.description}}</time>
              <br>
              <small>{{channel.participants}}</small>
              <a :href="`https://t.me/${channel.username}`" target="_blank">
                <el-button type="success" icon="el-icon-plus" circle></el-button>
              </a>
            </div>
          </div>
        </el-card>

      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import 'element-ui/lib/theme-chalk/index.css';
  import axios from 'axios';

  export default {
    data() {
      return {
          category: {},
          channels: {}
      }
    },
    methods: {
        getCategoryBySlug() {
            console.log(this.$route.params.categorySlug);
            axios.get(`/api/categories/getCategoryBySlug/${this.$route.params.categorySlug}`)
            .then(response => {
                console.log(response.data);
                if(response.data.status == 'error') {
                    this.$router.push({ name: "categories"});
                }
                this.category = response.data.data; 
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
    },

    created() {
        this.getCategoryBySlug();
    }
  }
</script>
