<template>
  <div class="container">
    <div class="row">
      
      <div v-for="(category, index) in categories" :key="index" class="col-md-3">
        <el-button size="small" type="primary" plain round @click="viewCategory(category.slug)">{{category.name}}</el-button>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import 'element-ui/lib/theme-chalk/index.css';
  import axios from 'axios';

  export default {
    data() {
      return {
        categories: {
          name: '',
          slug: '',
        }
      }
    },
    methods: {
        fetchCategories() {
            axios.get(`api/categories`)
            .then(response => {
                this.categories = response.data.data; 
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
        viewCategory(slug) {
          this.$router.push({ name: "category.index", params: { categorySlug: slug }});
        }

    },

    created() {
      this.fetchCategories();
    }
  }
</script>
