<template>
  <div class="container">
    <div class="row" v-loading="loading">
      
      <div v-for="(channel, index) in channels" :key="index" class="col-md-4">

        <el-card :body-style="{ padding: '0px' }">
          <img :src="channel.photo" class="image" style="width: 100%;">
          <div style="padding: 14px;">
            <h4>{{channel.name}} <el-button size="mini" type="primary" plain round @click="viewCategory(channel.category.slug)">{{channel.category.name}}</el-button> </h4>
            <div class="bottom clearfix">
              <time class="time">{{channel.description}}</time>
              <br>
              <small>{{channel.participants}}</small>
              <a :href="`https://t.me/${channel.username}`" target="_blank">
                <el-button type="success" icon="el-icon-plus" circle></el-button>
              </a>
            </div>
          </div>
        </el-card>

      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import 'element-ui/lib/theme-chalk/index.css';

  export default {
    data() {
      return {
        channels: {},
        loading: false,
      }
    },
    methods: {
      fetchChannels() {
        this.loading = true;
        fetch('api/channels')
        .then(res => res.json())
        .then(res => {
          this.loading = false;
          this.channels = res.data;
          //console.log(res.data);
        })
      },
      viewCategory(slug) {
        this.$router.push({ name: "category.index", params: { categorySlug: slug }});
      },

    },

    created() {
      this.fetchChannels();
    }
  }
</script>
