<template>
    <div>

        <havbar></havbar>

        <main role="main" class="container">

            <router-view></router-view>

        </main>

        <footer></footer>
        
    </div>
</template>

<script type="text/babel">
    import 'element-ui/lib/theme-chalk/index.css';

    export default {}
</script>
