<template>
    <el-header>
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect" >
            <el-menu-item index="1"><router-link :to="{ name: 'home' }">Home</router-link></el-menu-item>
            <el-menu-item index="2"><router-link :to="{ name: 'search' }">Search</router-link></el-menu-item>
            <el-menu-item index="3"><router-link :to="{ name: 'categories' }">categories</router-link></el-menu-item>
            <el-menu-item index="4"><router-link :to="{ name: 'chanels' }">chanels</router-link></el-menu-item>
            <el-menu-item index="5"><router-link :to="{ name: 'add_chanel' }">Add Channel</router-link></el-menu-item>
            <el-menu-item index="6"><router-link :to="{ name: 'admin' }">ADMIN</router-link></el-menu-item>
            <el-menu-item index="7"><router-link :to="{ name: 'user.login' }">login</router-link></el-menu-item>
        </el-menu>
    </el-header>
</template>

<script>
    
    import 'element-ui/lib/theme-chalk/index.css';

    export default {
        data() {
            return {
                activeIndex: '1',
            };
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
                //router.push({ name: 'user', params: { userId: 123 }})
            },
        }
    }
</script>
