<template>
  <div>
    <div class="container" v-loading="loading">
        <el-input placeholder="Please input" v-model="input" class="input-with-select">
          <el-button slot="append" @click="search" icon="el-icon-search"></el-button>
        </el-input>
    </div>
    <div class="container" v-if="resultData" >
      <el-row :gutter="20" v-if="resultData.type == 'chat'">
          <el-col :span="12" :offset="6">
            <el-card :body-style="{ padding: '0px' }">
              <img :src="resultData.image" class="image" style="width: 100%;">
              <div style="padding: 14px;">
                <h4>{{resultData.Chat.title}}</h4>
                <div class="bottom clearfix">
                  <time class="time">{{resultData.full.about}}</time>
                  <br>
                  <small>{{resultData.full.participants_count}}</small>
                  <a :href="`https://t.me/${resultData.Chat.username}`" target="_blank">
                    <el-button type="success" icon="el-icon-plus" circle></el-button>
                  </a>
                </div>
              </div>
            </el-card>
          </el-col>
      </el-row>
      <el-row :gutter="20" v-if="resultData.type == 'user'">
          <el-col :span="12" :offset="6">
            <el-card :body-style="{ padding: '0px' }">
              <img :src="resultData.image" class="image" style="width: 100%;">
              <div style="padding: 14px;">
                <h4>{{resultData.User.first_name}} {{resultData.User.last_name}}</h4>
                <div class="bottom clearfix">
                  <time class="time">{{resultData.User.phone}}</time>
                  <a :href="`https://t.me/${resultData.User.username}`" target="_blank">
                    <el-button type="success" icon="el-icon-plus" circle></el-button>
                  </a>
                </div>
              </div>
            </el-card>
          </el-col>
      </el-row>
      </div>
    </div>
  </div>
</template>



<script type="text/babel">
  import 'element-ui/lib/theme-chalk/index.css';

  export default {
    data() {
      return {
        input: '',
        resultData: null,
        loading: false,
      }
    },
    methods: {
      open() {
        this.$message('This is a message.');
      },
      search() {
        var formData = new FormData();
        formData.append('username', this.input);
        this.loading = true;
        this.$http.post('/api/search', formData).then(
          res => {
            this.loading = false;
            if(res.data.success) {
              this.resultData = res.data;
              console.log(this.resultData);
            } else {
              resultData: null;
              this.$message.error(res.data.error);
            }
          }
        ).catch((e) => {
          console.log(e);
          resultData: null;
          this.$message.error('Not found.');
        });

      },
    }
  }
</script>
