<template>
  <div class="container">

    <el-button type="success" @click="dialogFormVisible = true" icon="el-icon-plus">Add category</el-button>

    <el-dialog title="Category" :visible.sync="dialogFormVisible">
        <el-form :model="category">
            <el-form-item label="Category status and name" >
                <el-input placeholder="Please input" v-model="category.name"> <el-checkbox slot="prepend" v-model="category.status" :true-label="1" :false-label="0">Active</el-checkbox> </el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button type="success" icon="el-icon-check" circle @click="postCategory"></el-button>
            <el-button v-if="category.id" type="warning" circle icon="el-icon-close" @click="cancelEditing"></el-button>
        </span>
    </el-dialog>

    <div class="col md-12" >
        <el-table :data="categories" style="width: 100%">
            <el-table-column  label="Name" width="180">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row.name }}</span>
                </template>
            </el-table-column>
            <el-table-column label="Status"  width="180">
                <template slot-scope="scope">
                    <el-tag :type="getCategoryType(scope.row.status)">Active</el-tag>
                </template>
            </el-table-column>
            <el-table-column  label="Channels" width="180">   
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row.channels.length }}</span>
                </template>
            </el-table-column>
            <el-table-column  label="Added" width="180">   
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row.created_at }}</span>
                </template>
            </el-table-column>
            <el-table-column label="Operations">
                <template slot-scope="scope">
                    <el-button size="mini"  @click="editCategory(scope.row)" icon="el-icon-edit" ></el-button>
                    <el-button size="mini" type="danger" @click="deleteCategory(scope.row.id)"  icon="el-icon-delete"></el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
  </div>
</template>

<script type="text/babel">
import 'element-ui/lib/theme-chalk/index.css';
import axios from 'axios';

export default {
    data() {
        return {
            category: {
                name: '',
                slug: '',
                status: 0
            },
            categories: [{}],
            dialogFormVisible: false,
        }
    },
    methods: {

        postCategory() {
            if(this.category.id) {
                axios.post(`api/admin/categories/update`, (
                    this.category
                ))
                .then(response => {
                    console.log(response.data);

                    if(response.data.status == 'error') {
                        this.$message.error(response.data.massage);
                    } else {
                        this.$message.success(response.data.massage);
                    }

                })
                .catch(e => {
                    this.errors.push(e)
                })
            } else {
                axios.post(`api/admin/categories/store`, (
                    this.category
                ))
                .then(response => {
                    console.log(response.data);

                    if(response.data.status == 'error') {
                        this.$message.error(response.data.massage);
                    } else {
                        this.$message.success(response.data.massage);
                    }

                })
                .catch(e => {
                    this.errors.push(e)
                });
            }
            this.category = {
                name: '',
                slug: '',
                status: 0
            };
            this.dialogFormVisible = false;
            this.fetchCategories();
        },
        fetchCategories() {
            axios.get(`api/admin/categories/all`)
            .then(response => {
                this.categories = response.data.data; 
                console.log('this.categories', this.categories);
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
        getCategoryType(status) {
            console.log(status);
            if(status == 0) {
                return 'danger';
            } else if(status == 1) {
                return 'success';
            }
        },
        deleteCategory(id) {
            axios.delete(`api/admin/categories/delete/${id}`)
            .then(response => {
                console.log(response.data.data);
                this.fetchCategories();
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
        editCategory(category) {
            this.dialogFormVisible = true;
            this.category = category;
        },
        cancelEditing() {
            this.category = {
                name: '',
                slug: '',
                status: 0
            };
            this.dialogFormVisible = false;
        },
        viewCategory(slug) {
          this.$router.push({ name: "category.index", params: { categorySlug: slug }});
        }

    },

    created() {
        this.fetchCategories();
    }
}
</script>
