<template>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <el-select v-model="category_id" placeholder="Select" @change="getChannels()">
                <el-option v-for="category in categories" :key="category.id" :label="category.name" :value="category.id" >
                </el-option>
            </el-select>
        </div>

        <div class="clearfix"></div>

        <div class="col md-12" v-if="channels_loaded">
            <el-table :data="channels" style="width: 100%" v-loading="tableLoading">
                <el-table-column  label="Name" width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row.name }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Participants"  width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row.participants }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Added"  width="180">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{ scope.row.created_at }}</span>
                    </template>
                </el-table-column>
                <el-table-column label="Operations">
                    <template slot-scope="scope">
                        <el-button size="mini"  @click="handleEdit(scope.$index, scope.row)" icon="el-icon-view" ></el-button>
                        <el-button size="mini"  @click="handleEdit(scope.$index, scope.row)" icon="el-icon-edit"></el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)"  icon="el-icon-delete"></el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>

    </div>
  </div>
</template>

<script type="text/babel">
import 'element-ui/lib/theme-chalk/index.css';
import axios from 'axios';

export default {
    data() {
        return {
            category_id: '',
            categories: {},
            channels: [{}],
            tableLoading: false,
            channels_loaded: false,
        }
    },
    methods: {
        fetchCategories() {
            axios.get(`api/admin/categories/all`)
            .then(response => {
                this.categories = response.data.data; 
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
        getChannels() {
            this.tableLoading = true;
            axios.get(`/api/admin/channels/byCategory/${this.category_id}`)
            .then(response => {
                this.channels = response.data.data;
                this.tableLoading = false; 
                this.channels_loaded = true;
            })
            .catch(e => {
                this.errors.push(e);
                this.tableLoading = false;
            })
        },
    },

    created() {
        this.fetchCategories();
    }
}
</script>
