<template>

    <div class="container">
        <div class="row ">
            <div class="col-md-6" v-if="!isLogedin">
                <el-form ref="form" :model="login" label-width="120px">
                    <el-form-item v-if="!receiveCode" label="Phone">
                        <el-input v-model="login.phone" type="tel"></el-input>
                    </el-form-item>
                    <el-form-item v-if="receiveCode" label="Code">
                        <el-input v-model="login.code"></el-input>
                    </el-form-item>
                    <el-form-item v-if="!receiveCode">
                        <el-button type="primary" @click="sendCode">Send code</el-button>
                    </el-form-item>
                    <el-form-item v-if="receiveCode">
                        <el-button type="primary" @click="loginMe()">Login</el-button>
                    </el-form-item>
                </el-form>
            </div>
            
            <div class="col-md-6" v-if="isLogedin">
                <el-button type="primary" @click="logout()">Logout</el-button>
            </div>
        </div>
    </div>

</template>

<script type="text/babel">
import 'element-ui/lib/theme-chalk/index.css';
import axios from 'axios';

export default {
    data() {
        return {
            login: {
                phone: '',
                code: '',
            },
            receiveCode: false,
            isLogedin: false,
        }
    },
    methods: {
        sendCode() {
            axios.post(`/api/user/sendcode`, {
                phone: this.login.phone
            })
            .then(response => {
                console.log(response.data);
                this.receiveCode = true;
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
        loginMe() {
            axios.post(`/api/user/login`, {
                code: this.login.code
            })
            .then(response => {
                console.log(response.data);
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
        getStatusLogin() {
            axios.get(`/api/user/loginstatus`)
            .then(response => {
                console.log(response.data.status);
                this.isLogedin = response.data.status;

            })
            .catch(e => {
                this.errors.push(e)
            })
        },
        logout() {
            axios.get(`/api/user/logout`)
            .then(response => {
                if(response.data.status == true) {
                    this.isLogedin = false;
                }
            })
            .catch(e => {
                this.errors.push(e)
            })
        },
    },

    created() {
        this.getStatusLogin();
    }
}
</script>
