<template>
  <el-tabs v-model="activeName" @tab-click="handleClick">
    <el-tab-pane label="Channels" name="first"><admin-channels></admin-channels></el-tab-pane>
    <el-tab-pane label="Categories" name="second"><admin-categories></admin-categories></el-tab-pane>
  </el-tabs>
</template>
<script>
  export default {
    data() {
      return {
        activeName: 'first'
      };
    },
    methods: {
      handleClick(tab, event) {
        console.log(tab, event);
      }
    }
  };
</script>